@use "variables" as *;
@use "mixins" as *;

footer {
  padding: 1rem calc(var(--header-height) / 2);
  @media (max-width: $mobile-breakpoint) {
    padding: 1rem 0;
  }
  text-align: center;
  background-color: var(--footer-bg);
  color: var(--muted);
  right: 0;
  bottom: 0;
  left: 0;

  /* Footer top layout */
  .footer-top {
    display: flex;
  }

  .footer-left {
    flex: 1;
    text-align: left;
    padding-bottom: 1rem;
  }

  .footer-center {
    flex: 1;
    @include flex-center;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .footer-right {
    flex: 1;
    text-align: right;
    padding-bottom: 1rem;
    a {
      text-decoration: none;
      color: var(--muted); /* inherit muted color */
    }
  }

  /* Footer bottom text */
  .footer-bottom {
    margin: 0;
    text-align: center;
  }

  .footer-links {
    a {
      text-decoration: none;
      color: var(--muted);

      &:hover {
        color: var(--accent);
      }
    }
  }

  /* Responsive layout */
  @media (max-width: $mobile-breakpoint) {
    .footer-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
      flex: 1 1 100%;
      text-align: center;
    }
  }

  .footer-home-logo {
    @include flex-center;
    width: calc(100% / 3);
    vertical-align: middle;
    margin-bottom: 0.5rem;

    svg {
      @include flex-center;
      height: 100%;
    }
  }
}