/* Base header styles */
header {
  background-color: var(--header-bg);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  width: auto;
}
.header-center {
  justify-content: center;
  flex: 1;
}
.header-right {
  width: auto;
  gap: 2vw;
}

/* Nav list */
.header-list {
  display: flex;
  justify-content: center;
  gap: 3vw;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-list li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  transition: color 0.3s ease;
}

.header-list li a:hover {
  color: var(--accent);
}

/* Buttons (theme toggle) */
button.theme-toggle {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  height: 25px;
  transition: transform 120ms ease;
}

@media (max-width: --mobile-breakpoint) {
  .burger {
    display: block;
  }
}